*{
  margin: 0;
}
body{
  background: white; /*#171717;*/
    overflow: hidden;
}
html, body {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    max-width: 100%;
}
.logo{
  transition-duration: 0.6s;
  grid-row-start: 1;
  grid-column-start: 3;
  margin-top: -15px;
}
.header{
  display: grid;
  grid-template-columns: 10% repeat(12, 6%);
  grid-template-rows: 95px;
  font-size: 14px;
  min-width: 1529px;
}
.header{
  background: transparent;
  overflow: hidden;
}
.header a{
  color: black;
  text-decoration: none;
  line-height: 100px;
font-family: 'Raleway', sans-serif;
  grid-row-start: 1;
}
.hme{
  grid-column-start: 7;
}
.vids{
  grid-column-start: 8;
}
.enq{
  grid-column-start: 9;
}
.schls{
  grid-column-start: 10;
  margin-left: 20%
}
.header a:hover {
    -webkit-transition: all ease-in-out;
    -moz-transition: all ease-in-out;
    -ms-transition: all ease-in-out;
    -o-transition: all ease-in-out;
    transition: all ease-in-out;
    color: transparent;
    text-shadow: 0 0 1px rgba(255,255,255,0.9), 2px 0px 0px #00FFD7, -1px 0px 0px #FF0000;
    padding: 0 0 0 -1px;
  transition: 0.4s;
}
.dropdownicon{
  visibility: hidden;
}
.header a, .logo {
  -webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fa-bars{
  visibility: hidden;
  color: black;
}
#testingdrop{
  visibility: hidden;
  text-decoration: none;
  color: black;
  font-family: 'Raleway', sans-serif;
  display: grid;
  grid-template-columns: 55% auto;
  grid-template-rows: 29em;
  padding-bottom: 20px;
  position: fixed;
  z-index: 1;
  transition: 0.5s;
  width: 55%;
}
li{
  list-style-type: none;
  padding-bottom: 3px;
  padding-left: 4px;
  left: -11.4%;
  grid-column-start: 2;
  transition: margin-left .5s;
  z-index: 2;
}
ul{
  width: 100%;
  left: 3px;
  grid-column-start: 2;
  padding-bottom: 560%;
  padding-right: 82%;
  background: white/*#171717*/;
  transition: margin-left .5s;
  z-index: 2;
}
.mobilemenu{
  text-decoration: none;
  color: black;
  grid-column-start: 2;
  z-index: 2;
}
#devBy{
  color: #ffc800;
  font-size: 40%;
  z-index: 2;
}
#debByListItem{
  margin-top: 10%;
  z-index: 2;
}
#webBy{
  color: black;
}
.title{
  display: grid;
  grid-template-columns: 13% 13% 13% 13% 13% 13% 13% 13%;
  grid-template-rows: 50px 50px 50px;
}
.enqtit{
  color: black;
  font-family: 'Rubik', sans-serif;
  font-size: 3em;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 3;
  z-index: -1;
}
.icecreamgif{
  pointer-events: none;
  width: auto;
  height: 100px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
}
input[type=text], select, textarea {
  width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 2px solid #ffc800; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    z-index: -1;
}
input[type=submit] {
    background-color: #ffc800;
    color: black;
    padding: 12px 20px;
    border: 2px solid #ffc800;
    border-radius: 4px;
    cursor: pointer;
   font-family: 'Rubik', sans-serif;
    z-index: -1;
}
input[type=submit]:hover {
    background-color: black;
    color: #ffc800;
    border: 1px solid #ffc800;
    font-family: 'Rubik', sans-serif;
    z-index: -1;
}
.enqform {
    border-radius: 5px;
    background: transparent;
    padding: 20px;
    color: black;
    font-family: 'Rubik', sans-serif;
    border: 2px #ffc800;
    z-index: 1;
}
form{
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 2;
}
.enqform, .title{
  -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
          animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@media only screen
and (min-width: 320px) /*Smartphones*/
and (max-width: 479px)
{
  .header{
    grid-template-columns: 14.5% auto;
    grid-template-rows: 80px;
    border-bottom: 0.5px solid white;
    grid-column-gap: 5em;
  }
  .headerlinks{
    visibility: hidden;
  }
  .logo{
    align-self: center;
    grid-column-start: 1;
    width: 100px;
    margin-top: 5px;
  }
  .fa-bars{
    visibility: visible;
    grid-column-start: 2;
    color:black;
    font-size: 180%;
    position: absolute;
    align-self: center;
    right: 5%;
    top: 3%;
  }
  li{
    padding-top: 5%;
  }
  /*----------END OF HEADER------------*/
  .icecreamgif{
    visibility: hidden;
  }
}


/*-------------------END OF PORT SMARTPHONE-----------------------------------------*/
@media only screen
and (min-width: 481px) /*Landscape Smartphones*/
and (max-width: 640px)
{
    .header{
    grid-template-columns: 14.5% auto;
    grid-template-rows: 90px;
    border-bottom: 0.5px solid white;
    grid-column-gap: 5em;
  }
  .headerlinks{
    visibility: hidden;
  }
  .logo{
    align-self: center;
    font-size: 100px;
    text-align: left;
    margin-left: 3%;
    grid-column-start: 1;
    margin-top: 2%;
  }
  .fa-bars{
    visibility: visible;
    grid-column-start: 2;
    color:black;
    font-size: 180%;
    position: absolute;
    align-self: center;
    right: 5%;
    top: 3%;
  }
  li{
    padding-bottom: 5%;
  }
  /*----------END OF HEADER------------*/
  .icecreamgif{
    visibility: hidden;
  }
}


/*-------------------END OF LANDSCAPE SMARTPHONE-----------------------------------------*/
@media only screen
and (min-width: 641px) /*Port Tablets*/
and (max-width: 960px)
{
  .header{
    grid-template-columns: 14.5% auto;
    grid-template-rows: 80px;
    border-bottom: 0.5px solid white;
    grid-column-gap: 5em;
  }
  .headerlinks{
    visibility: hidden;
  }
  .logo{
    align-self: center;
    font-size: 10px;
    text-align: left;
    margin-left: 3%;
    grid-column-start: 1;
    margin-top: 2%;
  }
  .fa-bars{
    visibility: visible;
    grid-column-start: 2;
    color:black;
    font-size: 180%;
    position: absolute;
    align-self: center;
    right: 5%;
    top: 2.8%;
  }
  li{
    padding-bottom: 5%;
  }
  ul{
    padding-right: 215%;
  }
  /*----------END OF HEADER------------*/
  .icecreamgif{
    visibility: hidden;
  }
}



@media only screen
and (min-width: 961px) /*Landscape Tablets*/
and (max-width: 1024px)
{
    .header{
    grid-template-columns: 14.5% auto;
    grid-template-rows: 80px;
    border-bottom: 0.5px solid white;
    grid-column-gap: 5em;
  }
  .headerlinks{
    visibility: hidden;
  }
  .header a{
    visibility: hidden;
  }
  .logo{
    align-self: center;
    font-size: 100px;
    text-align: left;
    margin-left: 3%;
    grid-column-start: 1;
    margin-top: 2%
  }
  .fa-bars{
    visibility: visible;
    grid-column-start: 2;
    color:black;
    font-size: 180%;
    position: absolute;
    align-self: center;
    right: 5%;
    top: 2.8%;
  }
  li{
    padding-bottom: 5%;
  }
  ul{
    padding-right: 165%;
  }
  /*----------END OF HEADER------------*/
  .icecreamgif{
    visibility: hidden;
  }
}