* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: white;
}
a{
  text-decoration: none;
}
body{
  display: grid;
  grid-template-rows: 490px 25px 50px 50px 50px;
  grid-template-columns: 40% 15%;
}
#landingName{
  grid-column-start: 2;
  grid-row-start: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  margin-top: -250px;
  margin-left: -250px;
}
#landingName {
-webkit-animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-in-ver-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes scale-in-ver-center {
0% {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 1;
}
100% {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}
}
@keyframes scale-in-ver-center {
0% {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 1;
}
100% {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}
}


.enterButton{
  color: black;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  font-family: 'Rubik', sans-serif;
  padding-top: 12px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  border: 2px solid black;

}
.enterLink{
  color: black;
}
.enterButton {
  -webkit-animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.7s both;
          animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.7s both;
}

@-webkit-keyframes fade-in {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}
@keyframes fade-in {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}

.enterButton:hover{
  background-color: black;
  color: white;
  border: 2px solid black;
  transition-duration: 0.6s;
}
.enterLink:hover{
  color: white;
}
/*------------------------END OF MAIN LANDING--------------------------------------------*/
.devByContainer{
  color: #ffc800;
  font-family: 'Rubik', sans-serif;
  bottom: 2px;
  left: 5px;
  position: absolute;
  font-weight: 300;
}
.developerinstagram{
  text-decoration: none;
  color: black;
}
.devInstagramUsername{
  color: #ffc800;
  font-weight: 410;
}
.devByContainer {
  -webkit-animation: tracking-in-expand 1.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.6s both;
          animation: tracking-in-expand 1.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.6s both;
}
@-webkit-keyframes tracking-in-expand {
0% {
  letter-spacing: -0.5em;
  opacity: 0;
}
40% {
  opacity: 0.6;
}
100% {
  opacity: 1;
}
}
@keyframes tracking-in-expand {
0% {
  letter-spacing: -0.5em;
  opacity: 0;
}
40% {
  opacity: 0.6;
}
100% {
  opacity: 1;
}
}
/*------------------------END OF DEVELOPER INFORMATION------------------------------------------------*/

@media only screen
and (min-width: 320px) /*Smartphones*/
and (max-width: 479px)
{
html{
  overflow: hidden;
}
  body{
      grid-template-rows: 400px 25px 50px 100px 50px;
  }
  #landingName{
      width: 280px;
    margin-left: -140px;
    top: 55%;
  }
  .enterButton{
      grid-row-start: 2;
      margin-left: -20%;
        margin-right: -50%;
      margin-bottom: 50%;
      margin-top: -85%
  }
  .developerinstagram{
    font-size: 10px;
  }
}


/*-------------------END OF PORT SMARTPHONE-----------------------------------------*/
@media only screen
and (min-width: 481px) /*Landscape Smartphones*/
and (max-width: 640px)
{
  .enterButton{
      grid-row-start: 2;
      margin-left: -16%;
        margin-right: -50%;
      margin-bottom: -35%
  }
    #landingName{
      width: 280px;
    margin-left: -140px;
  }
}

/*-------------------END OF LANDSCAPE SMARTPHONE-----------------------------------------*/
@media only screen
and (min-width: 641px) /*Port Tablets*/
and (max-width: 960px)
{
  .enterButton{
      grid-row-start: 2;
      margin-left: -16%;
        margin-right: -50%;
    margin-top: 25%;
      margin-bottom: -45%
  }
    #landingName{
      width: 280px;
    margin-left: -140px;
  }
}


@media only screen
and (min-width: 961px) /*Landscape Tablets*/
and (max-width: 1024px)
{
  .enterButton{
      grid-row-start: 2;
      margin-left: -10%;
    margin-right: 10%;
      margin-bottom: -6%
  }
}