<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MURSHED | HOME</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/indexStyle.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700" rel="stylesheet">
</head>
<body>

<img src="{{ url_for('static', filename='Images/MurshedLogoBlack.png')}}" alt="Murshed Director Music Videos" id="landingName">

<div class="enterButton">
    <a href="{{ url_for('videos') }}" class="enterLink"><p>ENTER</p></a>
</div>

<div class="devByContainer">
    <a href="https://instagram.com/umarmiahfarooq" class="developerinstagram"><span class="devbytext">"DEVELOPED BY </span><span class="devInstagramUsername">@UMARMIAHFAROOQ</span>"</a>
</div>

</body>
</html>