{% extends "layout.html" %}
{% block head %} 
<title>MURSHED | HOME</title> 
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/indexStyle.css') }}" type="text/css">
{% endblock %}

{% block body %}
<img src="{{ url_for('static', filename='Images/MurshedLogoBlack.png')}}" alt="Murshed Director Music Videos" id="landingName">

<div class="enterButton">
    <a href="{{ url_for('videos') }}" class="enterLink"><p>ENTER</p></a>
</div>

<div class="devByContainer">
    <a href="https://instagram.com/umarmiahfarooq" class="developerinstagram"><span class="devbytext">"DEVELOPED BY </span><span class="devInstagramUsername">@UMARMIAHFAROOQ</span>"</a>
</div>
{% endblock %}