<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/indextStyle.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Jomolhari&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    <title>TheGreatMurshed</title>
</head>
<body>
    <div class="logoContainer">
        <img src="{{ url_for('static', filename='Images/MurshedLogoBlack.png')}}" alt="TheGreatMurshed Music Video Director" id="theGreatMurshedLogo">
    </div>

    <div class="informationContainer">
        <h1 id="nameHeader">THEGREATMURSHED</h1>
        <p id="aboutMurshedParagraphOne">Murshed is inspired by creating films that make you sit up and pay attention. He is well establsihed in the video production industry and has worked with big names including the likes of Skrapz, Loski, J Spades and more.</p>
        <p id="aboutMurshedParagraphTwo">Murshed provides a top quality service from start to finish, ensuring that the end product will surpass all expectations</p>
        <div class="enterButtonContainer">
            <button id="enterButton">ENTER</button>
        </div>
    </div>

    <footer>
        <p id="footerTagline">DEVELOPED BY <img id="chubzDevelopmentLogo" src="{{ url_for('static', filename='Images/ChubzDevelopmentLogoWhiteCropped.png')}}" alt="Chubz Software and Web development"></p>
        
    </footer>
</body>
</html>