<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./videostyle.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142401476-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142401476-1');
</script>
{% block head %} {% endblock %}
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='Images/MurshedLogoBlack.png')}}" alt="Logo" class="logo" width="130">
        <i class="fas fa-bars" onclick="toggleMobileMenu()" id="dropdownIcon"></i>
        <a href="{{ url_for('index') }}" class="hme" id="hme" id="mm" class="headerlinks">HOME</a>
        <a href="{{ url_for('videos') }}" class="vids" id="videos" id="mm" class="headerlinks">VIDEOS</a>
        <a href="{{ url_for('enquiries') }}" class="enq" id="enq" id="mm" class="headerlinks">ENQUIRIES</a>
        <a href="https://www.instagram.com/thegreatmurshed/" target="_blank" class="schls" id="soc" id="mm" class="headerlinks">INSTAGRAM</a>
    </div>

    <div class="dropdown" id="testingdrop">
        <ul>
            <a href="{{ url_for('index') }}" class="mobilemenu"><li>HOME</li></a>
            <a href="{{ url_for('videos') }}" class="mobilemenu"><li>VIDEOS</li></a>
            <a href="{{ url_for('enquiries') }}" class="mobilemenu"><li>ENQUIRIES</li></a>
            <a href="https://www.instagram.com/thegreatmurshed/" class="mobilemenu"><li>INSTAGRAM</li></a>
            <a href="https://www.instagram.com/umarmiahfarooq/" class="mobilemenu" id="devBy"><li id="debByListItem">A WEBSITE BY <br>@UMARMIAHFAROOQ</li></a>
        </ul>
    </div>
  <script src="{{ url_for('static', filename='Javascript/dropdownmenu.js') }}"></script>
  {% block body %}
  {% endblock %}
</body>
</html>