{% extends "layout.html" %}
{% block head %} 
<title>MURSHED | VIDEOS</title> 
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/videosStyle.css') }}" type="text/css">
{% endblock %}

{% block body %}
<div class="videos">
    <div class="test">
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/e60QbHBEMHw" frameborder="0" allowfullscreen id="kojoFundsVanessa"></iframe>
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/wUH2AamvDSE" frameborder="0" allowfullscreen id="zackKnightCrashAndBurn"></iframe>
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/ozrTKFYYaW4" frameborder="0" allowfullscreen id="navaanSandhuSickTone"></iframe>
      
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/nHJOXRv5NEs" frameborder="0" allowfullscreen id="zackKnightMedley8"></iframe>
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/AX5gmTWl6YQ" frameborder="0" allowfullscreen id="bellySquadWOM"></iframe>
        
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/L_G4FAlRtbY" frameborder="0" allowfullscreen id="zainDilDilRani"></iframe>
      
        
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/rtE1jw0Pe4A" frameborder="0" allowfullscreen id="ezuPyarKarda"></iframe>
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/BO0Yd2T_jws" frameborder="0" allowfullscreen id="adejoshWhatsNext"></iframe>
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/JN1bQxQei4c" frameborder="0" allowfullscreen id="kadamAkhiyan"></iframe>
        
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/RRWTd8A5OUo" frameborder="0" allowfullscreen id="jasmineSandlasPanjeba"></iframe>
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/Zs84oDV0nNk" frameborder="0" allowfullscreen id="jernademiahCareForMe"></iframe>
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/1nXv1poObK4" frameborder="0" allowfullscreen id="premzGlory"></iframe>
      
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/khkYoJAAYZQ" frameborder="0" allowfullscreen id="bajajTerePiche"></iframe>
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/Thhcq_rKL1w" frameborder="0" allowfullscreen id="ayoBeatzMyWay"></iframe>
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/I3D6kEVGmGY" frameborder="0" allowfullscreen id="rylanDeLaCruzStubborn"></iframe>

      <iframe width="100%" height="353" src="https://www.youtube.com/embed/TsfTka2QQgw" frameborder="0" allowfullscreen id="premzOhPyaar"></iframe>
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/sNIxehZTxNk" frameborder="0" allowfullscreen id="ayobeats100Thousand"></iframe>
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/Jiv7vbrgj9I" frameborder="0" allowfullscreen id="notraceBiggerThan"></iframe>
      
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/G9miWOhwLLc" frameborder="0" allowfullscreen id="kaybadTooWavey"></iframe>
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/XSa12VkMU9s" frameborder="0" allowfullscreen id="premzBrownBoy"></iframe>
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/tYH3Aq5dGlM" frameborder="0" allowfullscreen id="frassRealLife"></iframe>

      <iframe width="100%" height="353" src="https://www.youtube.com/embed/aSQU5T4DVXw" frameborder="0" allowfullscreen id="kokerTooLate"></iframe>
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/wTxV0G6vpNM" frameborder="0" allowfullscreen id="frassTakeMeHigher"></iframe>
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/toMMRgty2tQ" frameborder="0" allowfullscreen id="frassMyRyder"></iframe>

      <iframe width="100%" height="353" src="https://www.youtube.com/embed/BUz8S6ZMfrE" frameborder="0" allowfullscreen id="tlooseOneCall"></iframe>
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/PeCrCfyA7Bw" frameborder="0" allowfullscreen id="oj1Plug"></iframe>
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/wKuGf96zTQc" frameborder="0" allowfullscreen id="adejoshFYPM"></iframe>

      <iframe width="100%" height="353" src="https://www.youtube.com/embed/IqmlPgwAPhw" frameborder="0" allowfullscreen id="premzTellMeAboutIt"></iframe>
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/_0tJRLzQ4Y4" frameborder="0" allowfullscreen id="skrapzBigBoy"></iframe>
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/zRCUcW_mwt4" frameborder="0" allowfullscreen id="jernadeTequila"></iframe>

      <iframe width="100%" height="353" src="https://www.youtube.com/embed/EoeEmNrYJgo" frameborder="0" allowfullscreen id="dockemxmaloneGetRightRemix"></iframe>
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/7ha6xYSOHeQ" frameborder="0" allowfullscreen id="akikBreatheAgain"></iframe>
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/Atr-sLswEUE" frameborder="0" allowfullscreen id="premzMeriJaan"></iframe>

      <iframe width="100%" height="353" src="https://www.youtube.com/embed/Da1m2blZHDM" frameborder="0" allowfullscreen id="summerYouLied"></iframe>
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/Ztt1zS1EuIE" frameborder="0" allowfullscreen id="premzJalsa"></iframe>
      <iframe width="100%" height="353" src="https://www.youtube.com/embed/dAWoXJrMrzE" frameborder="0" allowfullscreen id="loskiMummysKitchen"></iframe>
      
    </div>
  </div>
{% endblock %}
